---
layout: page
title: News
permalink: /news/
---

<div class="posts">
    {% for post in site.posts %}
        <article class="post">
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

            <div class="date">
                Published on {{ post.date | date: "%B %e, %Y" }}{% if post.author %} by <a href="{{ post.authorUrl }}">{{ post.author }}</a>{% endif %}
            </div>

            <div class="entry">
                {{ post.content | strip_html | truncatewords: 50 }}
            </div>
        </article>
    {% endfor %}
</div>